/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.land_container {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.land {
  padding: 1rem;
  background: white;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
  text-decoration: none;
  color: black;
  box-shadow: 0px 0px 23px 8px rgba(0, 0, 0, 0.64);
}

.icon {
  margin-right: 0.5rem;
  color: #ff0800;
}
